.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .about-heading {
    color: #1A2947; /* Set the heading color to blue */
  }
  
  .about-content {
    font-size: 0.9rem; /* Adjust font size smaller */
  }
  
  .text-blue {
    background-color: #1A2947; /* Apply blue color to copyright */
    color: #fff;
  }

  .footer {
    padding: 20px;
    background-color: white;
    color: #fff;
  
    .footer-heading {
      color: blue;
      font-weight: bold;
    }
  
    .footer-text {
      font-size: 0.9rem;
      color: #fff;
    }
  
    .footer-list {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
  
        a {
          color: #333;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .footer-icon {
      margin-right: 15px;
      color: #333;
  
      &:hover {
        color: #007bff;
      }
    }
  
    .my-3 {
      margin-top: 20px;
    }
  }
  
  .footer-copyright {
    background-color: #1A2947;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  