/* Footer Area */
.footer-area {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.row-blocks {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
}

.aboutus,
.quick-links,
.important {
  width: 25%;
  text-align: left;
}

.col-heading {
  font-size: 18px;
  color: #1d2e6f; /* Dark blue for headings */
  margin-bottom: 20px;
  font-weight: bolder;
}

.aboutus-content {
  font-size: 14px;
  line-height: 2.0;
  color: #333;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}


/* Links with Arrow in Front */
ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #505153; /* Dark blue text color for links */
  position: relative;
  display: flex;
  padding-left: 15px; /* Space for arrow in front */
  font-weight: 600;
  text-align: left;
  line-height: 2.0;
}

ul li a:hover {
  color: #1d2e6f; /* Keep the color on hover */
}

ul li a::before {
  content: "";
  border-color: transparent #777777;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -23px;
  top: 13px;
  position: absolute;
}

ul li a:hover::before {
  transform: translateX(5px); /* Slide the arrow to the right on hover */
}

.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.social-media i {
  color: #333; /* Social media icon color */
  font-size: 16px;
  padding : 8px;
}

/* Copyright Area */
.copyright {
  background-color: #0c154d; /* Dark blue background */
  width: 100%;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.copyright p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .row-blocks {
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutus,
  .quick-links,
  .important {
    width: 100%;
    margin-bottom: 20px;
  }
}
