.homePage {
    background: url('./../assets/backgroundImage.jpeg') no-repeat center center;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    position: relative;
}