.top-navbar {
    background-color: #32425F;
    opacity: 0.8;
    padding: 15px;
    width: 100%;
    margin-top: 0px;
    position: static;
  
    .contact-info {
      display: flex;
      gap: 15px;
      color: #fff;
  
      .phone, .email {
        display: flex;
        align-items: center;
        gap: 5px;
  
        i {
          color: #FF6B52;
        }
      }
    }
  
    .social-icons {
      display: flex;
      gap: 15px;
  
      i {
        color: #FF6B52;
        font-size: 1.2rem;
  
        &:hover {
          color: #f7e1d7ff;
        }
      }
    }
  }
  
  .main-navbar {
    font-size: medium;
    background-color: #fff;
    width: 100%;
    opacity: 0.8;
    position: static;
  
    .navbar-logo {
      height: 50px;
      width: auto;
    }
  
    .nav-link-no {
      padding-top: 16px;
    }

    .nav-link, .nav-link-no {
      color: #000;
      margin-bottom: 0px ;
  
      &:hover {
        color: #535FB7;
      }
    }
  
    .navbar-toggler {
      border: none;
    }
  
    @media (max-width: 991px) {
      .contact-info {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  